@import "colors.scss";

.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  transition: 0.2s all ease-in;
  outline: none;
  &.outlined {
    border: 1px solid $gray;
  }
  &.round {
    padding: 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
  &:hover {
    background-color: $gray;
  }
}
